# Default owner for paths without a more specific rule.
*                                       @yanet-platform/yanet-core

# Security and policy.
/.github/                               @yanet-platform/yanet-core

# Control plane.
/controlplane/                          @yanet-platform/yanet-controlplane
/bindings/go/                           @yanet-platform/yanet-controlplane
/operators/                             @yanet-platform/yanet-controlplane

# Modules.
/modules/balancer2/                     @yanet-platform/yanet-module-balancer
/modules/route/                         @yanet-platform/yanet-module-route
/modules/route-mpls/                    @yanet-platform/yanet-module-route
/modules/acl/                           @yanet-platform/yanet-module-acl
/modules/fwstate/                       @yanet-platform/yanet-module-acl

# Core and shared CLI infrastructure.
/cli/                                   @yanet-platform/yanet-cli
/common/rust/                           @yanet-platform/yanet-cli
/Cargo.toml                             @yanet-platform/yanet-cli
/Cargo.lock                             @yanet-platform/yanet-cli
/.rustfmt.toml                          @yanet-platform/yanet-cli

# Core and shared Web infrastructure.
/web/                                   @yanet-platform/yanet-web
/package.json                           @yanet-platform/yanet-web
/package-lock.json                      @yanet-platform/yanet-web
/.npmrc                                 @yanet-platform/yanet-web
