UseTab: Always
ColumnLimit: 80
TabWidth: 8
IndentWidth: 8
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: false


# Always break after an open bracket, if the parameters don’t fit on a single line.
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
AlwaysBreakAfterReturnType: All
ContinuationIndentWidth: 8

# Special rules for proto files
---
Language: Proto

UseTab: Never
IndentWidth: 2
TabWidth: 2

ColumnLimit: 120
AllowShortFunctionsOnASingleLine: true

# Do not align option go_package
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 2
