@use 'variables' as *;

@mixin flex-column($gap: 0) {
    display: flex;
    flex-direction: column;

    @if $gap !=0 {
        gap: $gap;
    }
}

@mixin flex-row($gap: 0, $align: center) {
    display: flex;
    align-items: $align;

    @if $gap !=0 {
        gap: $gap;
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
