:root {
    --noc-font-family: "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --noc-font-size: 14px;
    --noc-nav-width: 235px;
    --noc-nav-width-compact: 56px;
    --noc-nav-icon-width: 56px;
    --noc-header-height: 56px;
    --noc-text-subheader-font-size: 15px;
    --noc-text-subheader-font-weight: 500;
    --noc-flex-gap-small: 8px;
    --noc-flex-gap-medium: 16px;
    --noc-flex-gap-large: 24px;    
    --noc-radio-button-inner-border-radius: 3px;
    --noc-text-input-border-radius: 3px;

    --noc-text-body-font-family: var(--noc-font-family);
    --noc-text-body-short-font-size: 14px;
    --noc-text-body-font-weight: 400;
    --noc-text-body-short-line-height: 16px;
}