:root {
    --noc-dropdown-border-radius: 4px;
}

.noc-dropdown {
    position: relative;
    cursor: pointer;
    border: 1px solid var(--noc-color-line-generic);
    border-radius: var(--noc-dropdown-border-radius);
    transition: box-shadow .1s ease, width .1s ease;    

    &__value {
        display: flex;
        align-items: center;
        height: 28px;
        cursor: pointer;
        border-radius: calc(var(--noc-dropdown-border-radius) - 1px);

        &:hover {
            border-color: var(--noc-color-line-generic-hover);
            background-color: var(--noc-color-base-simple-hover);
        }

        &__text {
            flex: 1 1 auto;
            padding-left: 8px;
            padding-right: 8px;
            user-select: none;
        }

        &.empty &__text {
            color: var(--noc-color-text-hint);
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 28px;
            height: 100%;
        }
    }

    &__menu {
        cursor: auto;
        position: absolute;
        display: none;
        background-color: var(--noc-color-base-float);
        top: calc(100% + 4px);
        left: 0;
        border: 1px solid var(--noc-color-line-generic);
        border-radius: 4px;
        min-width: max-content;
        width: calc(100% - 2px);
        max-height: 300px;
        direction: ltr;
        overflow-y: scroll;
        scrollbar-width: thin;
        z-index: 1000;

        &.visible {
            display: block !important;
            visibility: visible !important;
        }

        &__item {
            display: flex;
            align-items: center;
            height: 28px;
            padding: 0 12px 0 16px;

            &:hover {
                cursor: pointer;
                background-color: var(--noc-color-base-simple-hover);
            }

            &.active {
                cursor: pointer;
                background-color: var(--noc-color-base-selection);
            }

            &__text {}
        }
    }
}