.noc-input {
    width: 100%;

    &.error {
        input {
            border-color: var(--noc-color-line-danger) !important;

            &:hover {
                border-color: var(--noc-color-line-danger-hover) !important;
            }
        }
    }

    &.disabled {
        opacity: .45 !important;
        pointer-events: none;
    }

    input {
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        height: 28px;
        position: relative;
        margin: 0;
        padding: 6px 8px;
        vertical-align: top;
        color: var(--noc-color-text-primary);
        background-color: transparent;
        border-radius: var(--noc-text-input-border-radius);
        border: 1px solid var(--noc-color-line-generic);
        font-size: 14px;
        font-weight: 400;
        font-family: var(--noc-font-family);
        line-height: 16px;

        font-family: var(--noc-text-body-font-family);
        font-size: var(--noc-text-body-short-font-size);
        font-weight: var(--noc-text-body-font-weight);
        line-height: var(--noc-text-body-short-line-height);

        &:hover {
            border: 1px solid var(--noc-color-line-generic-hover);
        }

        &:focus {
            outline: none;
            border: 1px solid var(--noc-color-line-generic-active);
        }

        &::placeholder {
            opacity: 1.0;
            color: var(--noc-color-text-hint);
        }
    }
}