:root {
    --noc-snackbar-desktop-width: 420px;
}

.sbs {
    position: fixed;
    width: var(--noc-snackbar-desktop-width);
    z-index: 1000;
    display: flex;
}

.sbs.pos-br {
    bottom: 0;
    right: 10px;
    flex-direction: column-reverse;
}

.sb {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 15px var(--noc-color-sfx-shadow);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sb.sb-k-e {
    background-color: var(--noc-color-infographics-danger-light);
}

.sb__header {
    display: flex;
    align-items: center;
    gap: var(--noc-flex-gap-small);
}

.sb-h__box {
    display: flex;
    align-items: center;
    gap: var(--noc-flex-gap-small);
    width: 100%;
}

.sb-h__icon {
    display: flex;
}

.sb-k-e .sb-h__icon {
    color: var(--noc-color-infographics-danger-heavy);
}

.sb-h__data {
    margin: 0;
    font-size: var(--noc-text-subheader-font-size);
}

.sb-h__time {
    margin-left: auto;
}

.sb-h__button {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--noc-font-family);
    font-weight: 400;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 4px;
    touch-action: manipulation;
    cursor: pointer;
    transition: transform .1s ease-out, color .15s linear;
    transform: scale(1);
    color: var(--noc-color-text-secondary);
    width: 24px;
    height: 24px;
}

.sb-h__button:hover {
    color: var(--noc-color-text-primary);
    background: hsla(0, 0%, 100%, 0.05);
    transition: 0.15s;
}

.sb-h__button:active {
    transition: none;
    transform: scale(0.95);
}

.sb__content {
    margin-left: calc(24px + var(--noc-flex-gap-small));
}

.sb-a__appearing {
    opacity: 0;
}

.sb-a__show {
    animation: sb-move-left 0.15s ease forwards 0.10s;
}

@keyframes sb-move-left {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}