:root {
    --noc-spin-s-height: 20px;
    --noc-spin-m-height: 28px;
    --noc-spin-l-height: 36px;
    --noc-spin-s-width: 5px;
    --noc-spin-m-width: 7px;
    --noc-spin-l-width: 9px;
    --noc-spin-animation-duration: 800ms;
}

@keyframes spin-pulse {
    50% {
        opacity: 15%;
    }
}

.spin,
.spin>* {
    display: inline-flex;
    align-items: center;
}

.spin__l,
.spin__c,
.spin__r {
    background: var(--noc-color-base-special);
    animation: spin-pulse ease 800ms infinite;
}

.spin__l {
    animation-delay: calc(var(--noc-spin-animation-duration) * 1 / 4);
}

.spin__c {
    animation-delay: calc(var(--noc-spin-animation-duration) * 2 / 4);
}

.spin__r {
    animation-delay: calc(var(--noc-spin-animation-duration) * 3 / 4);
}

@mixin spin3($width, $height) {
    .spin__l {
        width: var($width);
        height: calc(var($height) / 1.5);
    }

    .spin__c {
        width: var($width);
        height: var($height);
        margin-left: var($width);
    }

    .spin__r {
        width: var($width);
        height: calc(var($height) / 1.5);
        margin-left: var($width);
    }
}

.spin-ss {
    @include spin3($width: --noc-spin-s-width, $height: --noc-spin-s-height);
}

.spin-sm {
    @include spin3($width: --noc-spin-m-width, $height: --noc-spin-m-height);
}

.spin-sl {
    @include spin3($width: --noc-spin-l-width, $height: --noc-spin-l-height);
}